#me {
  height: auto;
}
.section-content {
  padding: 30px 40px;
}
.about-1 {
  width: 270px;
  height: 300px;
}
.about-2 {
  width: 270px;
  height: 300px;
  transform: translate(50%, -30%);
}
@media screen and (max-width: 480px) {
  .about-1 {
    width: 250px;
    height: 270px;
  }
  .about-2 {
    width: 250px;
    height: 270px;
    transform: translate(50%, -30%);
  }
}
@media screen and (max-width: 450px) {
  .about-1 {
    width: 190px;
    height: 200px;
  }
  .about-2 {
    width: 190px;
    height: 200px;
    transform: translate(50%, -30%);
  }
}
@media screen and (max-width: 346px) {
  .about-1 {
    width: 150px;
    height: 160px;
  }
  .about-2 {
    width: 150px;
    height: 160px;
    transform: translate(50%, -30%);
  }
}
.right-text h2.head-about {
  font-size: 50px;
  font-weight: 700;
}
.right-text p.p-about {
  word-spacing: 4;
  letter-spacing: 2;
}
.skill-1, .skill-2, .skill-3, .skill-4 {
  background-color: #6327D8;
  text-align: center;
}
.bottom-links {
  color: #6327D8;
  text-decoration: none;
  transition: 1s;
}
.bottom-links:hover {
  color: #6327D8;
  text-decoration: none;
  letter-spacing: 1px;
}