#works {
    height: auto;
}
.project-head h2 {
    font-size: 50px;
    font-weight: 700;
}
.project-sub {
    letter-spacing: 1;
}
.project1 {
    width: 400px;
    height: 400px;
}
.project2 {
    width: 400px;
    height: 500px;
}
.project3 {
    width: 400px;
    height: 400px;
}
.project4 {
    width: 400px;
    height: 400px;
}
.project5 {
    width: 780px;
    height: 500px;
}