@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
  overflow-x: hidden;
}
section {
  scroll-snap-align: center;
}
body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: .8em;
}
body::-webkit-scrollbar-track {
  width: 2em;
}
body::-webkit-scrollbar-thumb {
background-color: rgba(79, 18, 221, 0.836);
outline: 1px solid slategrey;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 8.5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.hero {
  height: 100vh;
}
.topnav {
  margin-top: 1em;
}
.why-link {
  position: absolute;
  top: 2.7em;
  margin-left: 55vw;
  color: #fff;
  text-decoration: none;
}
 .why-link:hover {
  text-decoration: overline;
  color: #6327D8;
} 
@media screen and (max-width: 991px) {
  .why-link {
    display: none;
  }
  html {
    scroll-snap-type: none;
  }
}
.line1 {
  position: absolute;
  bottom: 18em;
}
@media screen and (max-width: 765px) {
  .line1 {
    position: absolute;
    bottom: 26em;
  }
}
.line2 {
  position: absolute;
  right: 0;
  top: 19em;
  z-index: 1;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: #6327D8; 
  background-color: rgba(98, 39, 216); /* Black w/opacity */
  overflow-x: hidden; 
  overflow-y: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.nav-open{
  width: 100%;
}
.overlay-content {
  position: relative;
  top: 36%; 
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  z-index: 3;
}
.overlay a {
  padding: 8px 25px;
  letter-spacing: 9px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #fff;
  display: inline-block; /* Display block instead of inline */
  
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  letter-spacing: 7px;
  text-decoration: line-through;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-width: 430px) {
  .overlay-content {
    position: relative;
    top: 25%; 
  }
  .overlay a {
    font-size: 30px;
    display: block;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.too-text {
  letter-spacing: 3px;
  font-size: 18px;
}
.social-icons {
  z-index: 3;
}
.social-icons ul {
  margin: 0;
}
.social-icons ul li {
  list-style-type: none;
  display: inline;
  padding: 10px 26px;
}
.social-icons img {
  width: 40px;
  height: 40px;
}
.hamburger {
  float: right;
  position: relative;
  bottom: -1.8em;
  right: .2em;
  cursor: pointer;
  display: inline-block;
  z-index: 1; 
}
.ham {
    background-color: #fff;
    width: 40px;
    height: 1px;
    margin-bottom: 7px;
    transition: all 0.5s;

}

.ham2 {
  width: 30px;
}
.change .ham1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 3px) ;
  transform: rotate(-45deg) translate(-3px, 3px) ;
}

/* Fade out the second bar */
.change .ham2 {
  opacity: 0;
}

/* Rotate last bar */
.change .ham3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
.logo-text {
  font-size: 26.93px;
}
.logo-box {
  width: 100px;
  height: 75.99;
  border: 1.30px solid #6327D8;
  padding: 0 0 0 8px;
}
.main-text {
  text-align: center;
  position: relative;
  top: 12vh;
}
.main-text h4 {
  font-size: 86px;
  font-weight: 700;
}
@media screen and (max-width: 730px) {
  .main-text h4 {
    font-size: 49px;
  }
  .main-text {
    position: relative;
    top: 6vh;
  }
}
.sup-text {
  position: relative;
  top: 20vh;
  text-align: center;
  font-size: 17px;
}
@media screen and (max-width: 350px) {
  .sup-text {
    position: relative;
    top: 7vh;
    font-size: 15px;
  }
  .arrow {
    position: relative;
    top: 8vh;
  }
}
.cta a {
  color: #6327D8;
  text-decoration: none;
}
.cta a :hover {
  color: #6327D8;
  text-decoration: overline;
}
.arrow {
  text-align: center;
  position: relative;
  top: 30vh;
}
#call-ta {
  height: 100vh;
}
.cta-text {
  padding: 5em 0 0 0;
}
.cta-text h2 {
  text-align: left;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  top: 1.6em;
}
.cta-text p{
  letter-spacing: 2;
  position: relative;
  top: 8em;
}
.cta-text p a{
  color: #6327D8;
}
.how {
  color: #6327D8;
  position: relative;
  top: 10em;
}
@media screen and (max-width: 450px) {
  .cta-text h2 {
    font-size: 49px;
  }
  .cta-text p {
    font-size: 13px;
  }
}
#services {
  padding: 3em 0 0 0;
  height: 100vh;
}
#services h2.des {
  font-size: 50px;
  font-weight: 700;
  padding-top: 1.4em;
}
#services p.des {
  font-size: medium;
  padding-top: 1em;
}
.des-img {
  text-align: right;
}
.dev-img {
  text-align: left;
  padding-top: 7em;
}
#services h2.dev {
  font-size: 50px;
  font-weight: 700;
  text-align: right;
  padding-top: 1.5em;
}
#services p.dev {
  font-size: medium;
  text-align: right;
  padding-top: 1em;
}
@media screen and (max-width: 991px) {
  .des-img {
    position: relative;
    bottom: 8em;
    opacity: 30%;
  }
  .dev-img {
    position: relative;  
    bottom: 13em;
    opacity: 30%;
  }
  #services .dev-side {
    position: relative;
    bottom: 26em;
  }
  #services h2.des {
    font-size: 40px;
  }
  #services h2.dev {
    font-size: 40px;
  }
}
#contact {
  min-height: 80vh;
  background-color: #6327D8;
}
.contact a {
  color: #000;
  text-decoration: none;
}
.contact a :hover {
  color: #000;
  text-decoration: overline;
}

.contact-text {
  padding: 5em 0 0 0;
}
.contact-text h2 {
  text-align: left;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  top: 1.6em;
}
.contact-text p{
  letter-spacing: 2;
  position: relative;
  top: 8em;
}
.contact-text p a{
  color: #000;
}

@media screen and (max-width: 450px) {
  #contact {
    height: 90vh;
  }
  .contact-text h2 {
    font-size: 49px;
  }
  .contact-text p {
    font-size: 13px;
  }
}
.copy-right {
  position: relative;
  top: 10em;
  text-align: left;
}