@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
html {
  
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: center;
}
body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
  width: .8em;
}
body::-webkit-scrollbar-track {
  width: 2em;
}
body::-webkit-scrollbar-thumb {
background-color: rgba(79, 18, 221, 0.836);
outline: 1px solid slategrey;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 8.5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.hero {
  height: 100vh;
}
.topnav {
  margin-top: 1em;
}
.why-link {
  position: absolute;
  top: 2.7em;
  margin-left: 55vw;
  color: #fff;
  text-decoration: none;
}
/* .why-link :hover {
  text-decoration: none;
  color: #fff;
} */
@media screen and (max-width: 991px) {
  .why-link {
    display: none;
  }
}
.hamburger {
  float: right;
  position: relative;
  bottom: -1.8em;
  right: .2em;
  cursor: pointer;
}
.ham {
    background-color: #fff;
    width: 40px;
    height: 1px;
    margin-bottom: 7px;
}
.ham2 {
  width: 30px;
}
.logo-text {
  font-size: 26.93px;
}
.logo-box {
  width: 100px;
  height: 75.99;
  border: 1.30px solid #6327D8;
  padding: 0 0 0 8px;
}
.main-text {
  text-align: center;
  position: relative;
  top: 12vh;
}
.main-text h4 {
  font-size: 86px;
  font-weight: 700;
}
@media screen and (max-width: 730px) {
  .main-text h4 {
    font-size: 49px;
  }
  .main-text {
    position: relative;
    top: 6vh;
  }
}
.sup-text {
  position: relative;
  top: 20vh;
  text-align: center;
  font-size: 17px;
}
@media screen and (max-width: 350px) {
  .sup-text {
    position: relative;
    top: 7vh;
    font-size: 15px;
  }
  .arrow {
    position: relative;
    top: 8vh;
  }
}
.cta a {
  color: #6327D8;
}
.arrow {
  text-align: center;
  position: relative;
  top: 30vh;
}
#call-ta {
  height: 100vh;
}
.cta-text {
  padding: 2em 0 0 0;
}
.cta-text h2 {
  text-align: left;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  top: 1.6em;
}
.cta-text p{
  letter-spacing: 2;
  position: relative;
  top: 8em;
}
.cta-text p a{
  color: #6327D8;
}
.how {
  color: #6327D8;
  position: relative;
  top: 10em;
}
@media screen and (max-width: 450px) {
  .cta-text h2 {
    font-size: 49px;
  }
  .cta-text p {
    font-size: 13px;
  }
}