@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
  overflow-x: hidden;
}
section {
  scroll-snap-align: center;
}
body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
  width: .8em;
}
body::-webkit-scrollbar-track {
  width: 2em;
}
body::-webkit-scrollbar-thumb {
background-color: rgba(79, 18, 221, 0.836);
outline: 1px solid slategrey;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 8.5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.hero {
  height: 100vh;
}
.topnav {
  margin-top: 1em;
}
.why-link {
  position: absolute;
  top: 2.7em;
  margin-left: 55vw;
  color: #fff;
  text-decoration: none;
}
/* .why-link :hover {
  text-decoration: none;
  color: #fff;
} */
@media screen and (max-width: 991px) {
  .why-link {
    display: none;
  }
  html {
    scroll-snap-type: none;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: #6327D8; 
  background-color: rgba(98, 39, 216); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.nav-open{
  width: 100%;
}
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
/* .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
} */

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.hamburger {
  float: right;
  position: relative;
  bottom: -1.8em;
  right: .2em;
  cursor: pointer;
  display: inline-block;
  z-index: 1; 
}
.ham {
    background-color: #fff;
    width: 40px;
    height: 1px;
    margin-bottom: 7px;
    transition: all 0.5s;

}

.ham2 {
  width: 30px;
}
.change .ham1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .ham2 {
  opacity: 0;
}

/* Rotate last bar */
.change .ham3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
.logo-text {
  font-size: 26.93px;
}
.logo-box {
  width: 100px;
  height: 75.99;
  border: 1.30px solid #6327D8;
  padding: 0 0 0 8px;
}
.main-text {
  text-align: center;
  position: relative;
  top: 12vh;
}
.main-text h4 {
  font-size: 86px;
  font-weight: 700;
}
@media screen and (max-width: 730px) {
  .main-text h4 {
    font-size: 49px;
  }
  .main-text {
    position: relative;
    top: 6vh;
  }
}
.sup-text {
  position: relative;
  top: 20vh;
  text-align: center;
  font-size: 17px;
}
@media screen and (max-width: 350px) {
  .sup-text {
    position: relative;
    top: 7vh;
    font-size: 15px;
  }
  .arrow {
    position: relative;
    top: 8vh;
  }
}
.cta a {
  color: #6327D8;
}
.arrow {
  text-align: center;
  position: relative;
  top: 30vh;
}
#call-ta {
  height: 100vh;
}
.cta-text {
  padding: 5em 0 0 0;
}
.cta-text h2 {
  text-align: left;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  top: 1.6em;
}
.cta-text p{
  letter-spacing: 2;
  position: relative;
  top: 8em;
}
.cta-text p a{
  color: #6327D8;
}
.how {
  color: #6327D8;
  position: relative;
  top: 10em;
}
@media screen and (max-width: 450px) {
  .cta-text h2 {
    font-size: 49px;
  }
  .cta-text p {
    font-size: 13px;
  }
}
#services {
  padding: 3em 0 0 0;
  height: 100vh;
}
#services h2.des {
  font-size: 50px;
  font-weight: 700;
  padding-top: 1.4em;
}
#services p.des {
  font-size: medium;
  padding-top: 1em;
}
.des-img {
  text-align: right;
}
.dev-img {
  text-align: left;
  padding-top: 7em;
}
#services h2.dev {
  font-size: 50px;
  font-weight: 700;
  text-align: right;
  padding-top: 1.5em;
}
#services p.dev {
  font-size: medium;
  text-align: right;
  padding-top: 1em;
}
@media screen and (max-width: 991px) {
  .des-img {
    position: relative;
    bottom: 4em;
    opacity: 30%;
  }
}